<h1><%=title%></h1>

<% if(locals.user) {%> 
    <h2>
        Welcome <%= user.name %> 
    </h2>
<% } %> 

<section id="feed-posts">
    <h1>Posts</h1>
    <% if(locals.user) { %>           <!-- Display the form to user who is logged in --> <!-- Restricting user to post who is not logged in -->
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type here...."></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %> 

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>

                <li>
                    <p>
                        <%= post.content %>
                        <br>
                        <small>
                            <%= post.user.name  %> 
                        </small> 
                    </p>

                    <div class="post-comments">
                        <% if(locals.user) { %> 

                            <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="Add a comment...">
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <input type="submit" value="Add comment">
                            </form>
            
                        <% } %> 
                    </div>
                </li>

            <% } %> 
        </ul>
    </div>
</section>